@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(0, 0, 0, 0.87);
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
}

body {
	/* margin: 0; */
	/* display: flex; */
	/* place-items: center; */
	/* min-width: 320px; */
	/* min-height: 100vh; */
}

#app {
	padding: 2rem;
}

@font-face {
	font-family: DnDTitle;
	src: url('fonts/DnDCartoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.title {
	font-family: DnDTitle;
}

@font-face {
	font-family: DnDVecna;
	src: url('fonts/Vecna-oppx.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.font-vecna {
	font-family: DnDVecna;
	font-size: 25px;
}
